*.exclude

*.mpp

\.idea/

\.vscode/

node_modules

server\.js

src/public/scripts/temp\.html

src/public/scripts/edit-bill-carousel\.html

src/public/html/account-notifications-modal\.html

src/public/scripts/bill-carousel\.html
