<html>
    <head>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>

      <div class="container">
        <div id="app">
          <div v-for="account in accounts">
            <div class="row">
              <div class="col-12">
                <div class="card">
                  <div class="card-header">
                    {{ account.name }}
                  </div>
                  <div class="card-body">
                    <h5 v-if="account.balances.available" class="card-title">${{ account.balances.available }} available</h5>
                    <h5 v-else class="card-title">There was an error getting the available account balance.</h5>
                    <h6 v-if="account.balances.current" class="card-subtitle mb-2 text-muted">${{ account.balances.current }} actual</h6>
                    <h6 v-else class="card-subtitle mb-2 text-muted">There was an error getting the actual account balance.</h6>
                    <a href="#" class="card-link"> {{ account.account_id }} </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div> <!-- End container -->

        <script src="index.js"></script>
    </body>
</html>
