<html leng="en">
<%- include ./head.html %>

<body>
    <%- include ./navbar.html %>

    <div id="app" class="container">
        <div class="row">
            <h1>Bills</h1>
        </div>
        <div class="row">
            <div class="col s12 l12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Current bills</span>
                        <table class="striped highlight">
                            <thead>
                                <th></th>
                                <th>Name</th>
                                <th>Amount</th>
                                <th>Period</th>
                                <th>Due date</th>
                                <th>Charged on weekday?</th>
                                <th>Autopay?</th>
                            </thead>
                            <tbody>
                                <tr v-for="b in user.bills">
                                    <td>
                                        <form>
                                            <p><label>
                                                    <input :id="'chkBx' + b.id" type="checkbox" class="filled-in"
                                                        v-on:change="billsToDelete.push(b.id)">
                                                    <span :for="'chkBx' + b.id"></span>
                                                </label></p>
                                        </form>
                                    </td>
                                    <td class="modal-trigger" :data-target="b.id">{{ b.name }}</td>
                                    <td class="modal-trigger" :data-target="b.id">{{ b.amount }}</td>
                                    <td class="modal-trigger" :data-target="b.id">{{ b.periodId }}</td>
                                    <td class="modal-trigger" :data-target="b.id">{{ b.dueDate }}</td>
                                    <td class="modal-trigger" :data-target="b.id">{{ b.weekDay ? 'Yes' : 'No' }}</td>
                                    <td class="modal-trigger" :data-target="b.id">{{ b.autoPay ? 'Yes' : 'No' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-action">
                        <a id="deleteBillsBtn" class="waves-effect waves-green btn"
                            v-on:click="deleteBills(billsToDelete)">Delete selected</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Add new bill</span>
                        <ul class="collapsible expandible">
                            <li class="active">
                                <div class="collapsible-header">Bill details</div>
                                <div class="collapsible-body">
                                    <div class="input-field med-input-field">
                                        <input type="text" id="addName" class="validate" v-model="billToCreate.name">
                                        <label for="addName">Name</label>
                                    </div>
                                    <div class="input-field med-input-field">
                                        <input type="number" id="addAmount" class="validate"
                                            v-model="billToCreate.amount">
                                        <label for="addAmount">Amount</label>
                                    </div>
                                    <input id="addDueDate" type="text" class="datepicker">
                                    <label for="addDueDate">Due date</label>
                                    <p>
                                        <label>
                                            <input id="addChkBx" type="checkbox" class="filled-in"
                                                v-on:change="billToCreateRepeats = !billToCreateRepeats">
                                            <span for="addChkBx">This bill repeats.</span>
                                        </label>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">Only fill this out if the bill repeats</div>
                                <div class="collapsible-body">
                                    <div class="input-field med-input-field">
                                        <select v-model="billToCreate.periodId">
                                            <option value="1" :selected="true">Month</option>
                                            <option value="2">Twice a month</option>
                                            <option value="3">Week</option>
                                            <option value="4">Quarter</option>
                                            <option value="5">Year</option>
                                        </select>
                                        <label>Bill cycle</label>
                                    </div>
                                    <input v-if="billToCreate.periodId === 2" type="text" id="addDueDate2"
                                        class="datepicker">
                                    <label v-if="billToCreate.periodId === 2" for="addDueDate2">Second due date</label>
                                    <p>
                                        <label>
                                            <input id="addWeekDay" type="checkbox" class="filled-in"
                                                v-on:change="billToCreate.weekDay = !billToCreate.weekDay">
                                            <span for="addChkBx">This bill is only due on weekdays.</span>
                                        </label>
                                    </p>
                                    <p>
                                        <label>
                                            <input id="addAutoPay" type="checkbox" class="filled-in"
                                                v-on:change="billToCreate.autoPay = !billToCreate.autoPay">
                                            <span for="addChkBx">This bill is on autopay.</span>
                                        </label>
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header">Only fill this out if the bill is on autopay</div>
                                <div class="collapsible-body">
                                    <div class="input-field">
                                        <select v-model="billToCreate.accountId">
                                            <optgroup v-for="item in user.items" :label="item.institutionName">
                                                <option v-for="a in item.accounts" :value="a.id">{{ a.name }}</option>
                                            </optgroup>
                                        </select>
                                        <label>Autopay account</label>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="card-action">
                        <a id="addNewBillBtn" class="waves-effect waves-light btn"
                            v-on:click="createOrUpdateBill(billToCreate)">Add!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src='scripts/bills.ejs.js' defer></script>
    <script defer>
        const URL = '<%= URL %>';
        const user = JSON.parse(`<%- JSON.stringify(user) %>`);
    </script>
</body>

</html>