<html leng="en">
<%- include ./head.html %>

<body>
    <%- include ./navbar.html %>

    <div id="app" class="container">
        <div class="row">
            <h1>Bills</h1>
        </div>
        <div class="row">
            <div class="col s12 l12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Current bills</span>
                        <table>
                            <thead>
                                <th></th>
                                <th>Name</th>
                                <th>Amount</th>
                                <th></th>
                                <th class="hide-on-med-and-down">Repeats</th>
                                <th>Due next</th>
                                <th class="hide-on-med-and-down">Charged on weekday?</th>
                                <th class="hide-on-med-and-down">Autopay?</th>
                            </thead>
                            <tbody>
                                <template v-for="b in user.bills">
                                    <tr class="header">
                                        <td>
                                            <form>
                                                <p><label>
                                                        <input :id="'chkBx' + b.id" type="checkbox" class="filled-in"
                                                            :value="b.id" v-model="billsToDelete">
                                                        <span :for="'chkBx' + b.id"></span>
                                                    </label></p>
                                            </form>
                                        </td>
                                        <td v-on:click="setBillToUpdate(b)">
                                            {{ b.name }}</td>
                                        <td v-on:click="setBillToUpdate(b)" data-target="updateModal"
                                            class="modal-trigger right-align">
                                            {{ getFormattedCurrency(b.amount) }}
                                        </td>
                                        <td v-on:click="setBillToUpdate(b)" data-target="updateModal"
                                            class="modal-trigger"></td>
                                        <td v-on:click="setBillToUpdate(b)" data-target="updateModal"
                                            class="modal-trigger hide-on-med-and-down">
                                            {{ b.periodId ? 'Every '.concat(b.numOfPeriods, ' ', getSemanticPeriod(b.periodId)) : 'No' }}
                                        </td>
                                        <td v-on:click="setBillToUpdate(b)" data-target="updateModal"
                                            class="modal-trigger">
                                            {{ getFormattedDate(b.dueDate) }}</td>
                                        <td v-on:click="setBillToUpdate(b)" data-target="updateModal"
                                            class="modal-trigger hide-on-med-and-down">
                                            {{ b.weekDay ? 'Yes' : 'No' }}</td>
                                        <td v-on:click="setBillToUpdate(b)" data-target="updateModal"
                                            class="modal-trigger hide-on-med-and-down">
                                            {{ b.accountId ? 'Yes' : 'No' }}</td>
                                    </tr>
                                    <tr>
                                        <td colspan="7">
                                            <bill-carousel v-bind:user="user" v-bind:bill="b"
                                                v-on:save="createOrUpdateBill"></bill-carousel>
                                        </td>
                                    </tr>
                                </template>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-action">
                        <a id="deleteBillsBtn" class="waves-effect waves-green btn green lighten-2"
                            v-on:click="deleteBills(billsToDelete)">Delete selected</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">Add new bill</span>
                        <div id='addBillCarousel' class="carousel carousel-slider">
                            <!-- Bill details -->
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="card-content">
                                        <span class="card-title">Bill details</span>
                                        <div class="input-field med-input-field">
                                            <input type="text" id="addName" class="validate"
                                                v-model="billToCreate.name">
                                            <label for="addName">Name</label>
                                        </div>
                                        <div class="input-field med-input-field">
                                            <input type="number" id="addAmount" class="validate"
                                                v-model="billToCreate.amount">
                                            <label for="addAmount">Amount</label>
                                        </div>
                                        <input id="addDueDate" type="text" class="datepicker">
                                        <label for="addDueDate">Due date</label>
                                    </div>
                                    <div class="card-action">
                                        <a v-show="onceAround" class="waves-effect btn green lighten-2"
                                            onclick="prevAddCarouselItem();">Back</a>
                                        <a class="waves-effect btn green lighten-2"
                                            onclick="nextAddCarouselItem();">More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Noticifations -->
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="card-content">
                                        <span class="card-title">Notifications</span>
                                        <table class="table highlight">
                                            <thead>
                                                <th colspan="2">Periods before bill is due:</th>
                                            </thead>
                                            <tbody>
                                                <tr v-for="(n, i) in billToCreate.notifications">
                                                    <td>{{ n.periodsBeforeBillIsDue }}</td>
                                                    <td>{{ getSemanticPeriod(n.periodId) }}</td>
                                                    <td><a class="waves-effect btn-flat"
                                                            v-on:click="billToCreate.notifications.splice(i, 1);">Remove</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="input-field">
                                                            <input
                                                                v-model="billNotificationToCreate.periodsBeforeBillIsDue"
                                                                id="addNotificationNumber" type="number"
                                                                class="validate">
                                                            <label for="addNotificationNumber"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <select v-model="billNotificationToCreate.periodId">
                                                            <option value="1">day(s)</option>
                                                            <option value="2">week(s)</option>
                                                            <option value="3">month(s)</option>
                                                            <option value="4">quarter(s)</option>
                                                            <option value="5">year(s)</option>
                                                        </select>
                                                        <label>Notification cycle</label>
                                                    </td>
                                                    <td>
                                                        <a class="waves-effect btn-flat"
                                                            v-on:click="billToCreate.notifications.push(billNotificationToCreate)">Add</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="card-action">
                                        <a class="waves-effect btn green lighten-2"
                                            onclick="prevAddCarouselItem();">Back</a>
                                        <a class="waves-effect btn green lighten-2"
                                            onclick="nextAddCarouselItem();">More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Bill cycle -->
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="card-content">
                                        <span class="card-title">Bill cycle</span>
                                        This bill repeats every
                                        <div class="input-field inline">
                                            <input v-model="billToCreate.numOfPeriods" id="addNumOfPeriods"
                                                type="number" class="validate">
                                            <label for="#addNumOfPeriods"></label>
                                        </div>
                                        <div class="input-field inline">
                                            <select v-model="billToCreate.periodId">
                                                <option value="1">day(s)</option>
                                                <option value="2">week(s)</option>
                                                <option value="3" :selected="true">month(s)</option>
                                                <option value="4">quarter(s)</option>
                                                <option value="5">year(s)</option>
                                            </select>
                                        </div>
                                        <p>
                                            <label>
                                                <input type="checkbox" id="addWeekDay" class="filled-in"
                                                    v-model="billToCreate.weekDay">
                                                <span>If the due date falls on a weekend, this bill is due the following
                                                    Monday.</span>
                                            </label>
                                        </p>
                                    </div>
                                    <div class="card-action">
                                        <a class="waves-effect btn green lighten-2"
                                            onclick="prevAddCarouselItem();">Back</a>
                                        <a class="waves-effect btn green lighten-2"
                                            onclick="nextAddCarouselItem();">More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- Autopay -->
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="card-content">
                                        <span class="card-title">Autopay</span>
                                        This bill is on autopay from the following account:
                                        <div class="input-field">
                                            <select v-model="billToCreate.accountId">
                                                <optgroup v-for="item in user.items" :label="item.institutionName">
                                                    <option v-for="a in item.accounts" :value="a.id">{{ a.name }}
                                                    </option>
                                                </optgroup>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="card-action">
                                        <a class="waves-effect btn green lighten-2"
                                            onclick="prevAddCarouselItem();">Back</a>
                                        <a class="waves-effect btn green lighten-2"
                                            onclick="nextAddCarouselItem();" v-on:click="onceAround = true;">More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a id="addNewBillBtn" class="waves-effect waves-light btn green lighten-2"
                            v-on:click="createOrUpdateBill(billToCreate)">Add!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src='scripts/bills.ejs.js' defer></script>
    <script defer>
        const URL = '<%= URL %>';
        const user = JSON.parse(`<%- JSON.stringify(user) %>`);
    </script>
</body>

</html>