<html lang="en">

<%- include ./head.html %>

<!-- Custom styles -->
<link rel="stylesheet" type="text/css" href="stylesheets/css/budgets.css">

<body>
    <%- include ./navbar.html %>

    <div id="app" class="container">
        <div class="row">
            <h1>Budgets</h1>
        </div>
        <div class="row">
            <div class="col s12 l6">
                <div class="card-panel">
                    <span class="card-title">Weekly budget</span>
                    <div id="weekChart" class="responsive-google-chart"></div>
                </div>
            </div>
            <div class="col s12 l6">
                <div class="card-panel">
                    <span class="card-title">Monthly budget</span>
                    <div id="monthChart" class="responsive-google-chart"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l6">
                <div class="card-panel">
                    <span class="card-title">Quarterly budget</span>
                    <div id="quarterChart" class="responsive-google-chart"></div>
                </div>
            </div>
            <div class="col s12 l6">
                <div class="card-panel">
                    <span class="card-title">Yearly budget</span>
                    <div id="yearChart" class="responsive-google-chart"></div>
                </div>
            </div>
        </div>
        <div id="allBudgetItems" class="row">
            <div class="col s12 l12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">All budget items</span>
                        <table class="striped highlight">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Expense</th>
                                    <th>Amount</th>
                                    <th class="hide-on-small-only">Period</th>
                                    <th class="hide-on-small-only">Number of periods</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="bi in sortedBudgetItems">
                                    <td>
                                        <form>
                                            <p><label>
                                                    <input :id="'chkBx' + bi.id" type="checkbox" class="filled-in"
                                                        v-on:change="budgetItemsToDelete.push(bi.id)">
                                                    <span :for="'chkBx' + bi.id"></span>
                                                </label></p>
                                        </form>
                                    </td>
                                    <td :data-target="bi.id" class="modal-trigger">{{ bi.name }}</td>
                                    <td :data-target="bi.id" class="modal-trigger">${{ bi.amount }}</td>
                                    <td :data-target="bi.id" class="modal-trigger hide-on-small-only">
                                        {{ getPeriodName(bi.periodId) }}</td>
                                    <td :data-target="bi.id" class="modal-trigger hide-on-small-only">
                                        {{ bi.numOfPeriods }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-action">
                        <a id="deleteBudgetItemsBtn" class="waves-effect waves-green btn"
                            v-on:click="deleteBudgetItems(budgetItemsToDelete)">Delete selected</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 l12">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Add budget item</span>
                                Designate&nbsp;$
                                <div class="input-field inline short-input-field">
                                    <input id="amount" class="validate" placeholder="0.00" type="number"
                                        v-model="budgetItemToCreate.amount">
                                </div>
                                &nbsp;every&nbsp;
                                <div class="input-field inline short-input-field">
                                    <input id="numOfPeriods" class="validate short-input-field" placeholder="1"
                                        type="number" v-model="budgetItemToCreate.numOfPeriods">
                                </div>
                                &nbsp;
                                <div class="input-field inline short-input-field">
                                    <select id="period" v-model="budgetItemToCreate.periodId">
                                        <option value="1">days</option>
                                        <option value="2">week(s)</option>
                                        <option value="3" :selected="true">month(s)</option>
                                        <option value="4">quarter(s)</option>
                                        <option value="5">year</option>
                                    </select>
                                </div>
                                &nbsp;for&nbsp;
                                <div class="input-field inline">
                                    <input id="expense" type="text" class="validate short-input-field"
                                        placeholder="expense" v-model="budgetItemToCreate.name">
                                </div>
                                <div id="addNewTags" class="chips"></div>
                            </div>
                            <div class="card-action">
                                <a id="addNewBudgetBtn" class="waves-effect waves-light btn"
                                    v-on:click="createOrUpdateBudgetItem(budgetItemToCreate)">Add!</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div v-for="bi in user.budgetItems" :id="bi.id" class="modal">
                    <div class="modal-content">
                        <h4>Edit budget item</h4>
                        Designate&nbsp;$
                        <div class="input-field inline short-input-field">
                            <input :id="'amount' + bi.id" class="validate" placeholder="0.00" type="number"
                                v-model="bi.amount">
                        </div>
                        &nbsp;every&nbsp;
                        <div class="input-field inline short-input-field">
                            <input :id="'numOfPeriods' + bi.id" class="validate short-input-field" placeholder="1"
                                type="number" v-model="bi.numOfPeriods">
                        </div>
                        &nbsp;
                        <div class="input-field inline short-input-field">
                            <select :id="'period' + bi.id">
                                <option value="1" :selected="bi.periodId === 1">days</option>
                                <option value="2" :selected="bi.periodId === 2">week(s)</option>
                                <option value="3" :selected="bi.periodId === 3">month(s)</option>
                                <option value="4" :selected="bi.periodId === 4">quarter(s)</option>
                                <option value="5" :selected="bi.periodId === 5">year</option>
                            </select>
                        </div>
                        &nbsp;for&nbsp;
                        <div class="input-field inline">
                            <input type="text" class="validate short-input-field" placeholder="expense"
                                v-model="bi.name">
                        </div>
                        <div :id="'tags' + bi.id" class="chips"></div>
                    </div>
                    <div class="modal-footer">
                        <a class="modal-close waves-effect waves-green btn-flat"
                            v-on:click="createOrUpdateBudgetItem(bi)">Save</a>
                        <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src='scripts/budgets.ejs.js' defer></script>
    <script defer>
        const URL = '<%= URL %>';
        const user = JSON.parse(`<%- JSON.stringify(user) %>`);
    </script>
</body>

</html>