<html lang="en">

<%- include ./head.html %>

<!-- Custom styles -->
<link rel="stylesheet" type="text/css" href="stylesheets/css/budgets.css">

<body>
    <%- include ./navbar.html %>

    <div id="app" class="container">
        <div class="row">
            <h1>Budgets</h1>
        </div>
        <div class="row hide-on-large-only">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Charts</span>
                    <div id="budgetsCarousel" class="carousel carousel-slider">
                        <div class="carousel-item">
                            <div class="card-panel center">
                                <span class="card-title">Weekly budget</span>
                                <div id="weekChartMobile" class="responsive-google-chart">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card-panel center">
                                <span class="card-title">Monthly budget</span>
                                <div id="monthChartMobile" class="responsive-google-chart">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card-panel center">
                                <span class="card-title">Quarterly budget</span>
                                <div id="quarterChartMobile" class="responsive-google-chart">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="card-panel center">
                                <span class="card-title">Yearly budget</span>
                                <div id="yearChartMobile" class="responsive-google-chart">
                                    <div class="preloader-wrapper small active">
                                        <div class="spinner-layer spinner-green-only">
                                            <div class="circle-clipper left">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="gap-patch">
                                                <div class="circle"></div>
                                            </div>
                                            <div class="circle-clipper right">
                                                <div class="circle"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hide-on-med-and-down">
            <div class="col s12 l6">
                <div class="card-panel center">
                    <span class="card-title">Weekly budget</span>
                    <div id="weekChart" class="responsive-google-chart">
                        <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-green-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 l6">
                <div class="card-panel center">
                    <span class="card-title">Monthly budget</span>
                    <div id="monthChart" class="responsive-google-chart">
                        <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-green-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row hide-on-med-and-down">
            <div class="col s12 l6">
                <div class="card-panel center">
                    <span class="card-title">Quarterly budget</span>
                    <div id="quarterChart" class="responsive-google-chart">
                        <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-green-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 l6">
                <div class="card-panel center">
                    <span class="card-title">Yearly budget</span>
                    <div id="yearChart" class="responsive-google-chart">
                        <div class="preloader-wrapper small active">
                            <div class="spinner-layer spinner-green-only">
                                <div class="circle-clipper left">
                                    <div class="circle"></div>
                                </div>
                                <div class="gap-patch">
                                    <div class="circle"></div>
                                </div>
                                <div class="circle-clipper right">
                                    <div class="circle"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="allBudgetItems" class="row">
            <div class="col s12 l12">
                <div class="card">
                    <div class="card-content">
                        <span class="card-title">All budget items</span>
                        <table class="striped highlight">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>Expense</th>
                                    <th>Amount</th>
                                    <th></th>
                                    <th class="hide-on-small-only">Period</th>
                                    <th class="hide-on-small-only">Number of periods</th>
                                </tr>
                            </thead>
                            <tbody>
                                <transition appear name="scale" appear-active-class="scale-in"
                                    leave-active-class="scale-out">
                                    <tr v-for="bi in sortedBudgetItems" class="scale-transition">
                                        <td>
                                            <form>
                                                <p><label>
                                                        <input :id="'chkBx' + bi.id" type="checkbox" class="filled-in"
                                                            :value="bi.id" v-model="budgetItemsToDelete">
                                                        <span :for="'chkBx' + bi.id"></span>
                                                    </label></p>
                                            </form>
                                        </td>
                                        <td v-on:click="setBudgetItemToUpdate(bi)" data-target="updateModal"
                                            class="modal-trigger">{{ bi.name }}</td>
                                        <td v-on:click="setBudgetItemToUpdate(bi)" data-target="updateModal"
                                            class="modal-trigger right-align">{{ getFormattedCurrency(bi.amount) }}</td>
                                        <td v-on:click="setBudgetItemToUpdate(bi)" data-target="updateModal"
                                            class="modal-trigger">
                                        </td>
                                        <td v-on:click="setBudgetItemToUpdate(bi)" data-target="updateModal"
                                            class="modal-trigger hide-on-small-only">
                                            {{ getPeriodName(bi.periodId) }}</td>
                                        <td v-on:click="setBudgetItemToUpdate(bi)" data-target="updateModal"
                                            class="modal-trigger hide-on-small-only">
                                            {{ bi.numOfPeriods }}</td>
                                    </tr>
                                </transition>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-action">
                        <a id="deleteBudgetItemsBtn" class="waves-effect waves-green btn green lighten-2"
                            v-on:click="deleteBudgetItems(budgetItemsToDelete)">Delete selected</a>
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 l12">
                        <div class="card">
                            <div class="card-content">
                                <span class="card-title">Add budget item</span>
                                Designate&nbsp;$
                                <div class="input-field inline short-input-field">
                                    <input id="amount" class="validate" placeholder="0.00" type="number"
                                        v-model="budgetItemToCreate.amount">
                                </div>
                                &nbsp;every&nbsp;
                                <div class="input-field inline short-input-field">
                                    <input id="numOfPeriods" class="validate short-input-field" placeholder="1"
                                        type="number" v-model="budgetItemToCreate.numOfPeriods">
                                </div>
                                &nbsp;
                                <div class="input-field inline short-input-field">
                                    <select id="period" v-model="budgetItemToCreate.periodId">
                                        <option value="1">days</option>
                                        <option value="2">week(s)</option>
                                        <option value="3" :selected="true">month(s)</option>
                                        <option value="4">quarter(s)</option>
                                        <option value="5">year</option>
                                    </select>
                                </div>
                                &nbsp;for&nbsp;
                                <div class="input-field inline">
                                    <input id="expense" type="text" class="validate short-input-field"
                                        placeholder="expense" v-model="budgetItemToCreate.name">
                                </div>
                                <div id="addNewTags" class="chips"></div>
                            </div>
                            <div class="card-action">
                                <a id="addNewBudgetBtn" class="waves-effect waves-light btn green lighten-2"
                                    v-on:click="createOrUpdateBudgetItem(budgetItemToCreate)">Add!</a>
                            </div>
                        </div>
                    </div>
                </div>

                <update-modal v-bind:bi="budgetItemToUpdate" v-on:save="createOrUpdateBudgetItem"></update-modal>
            </div>
        </div>
    </div>

    <script src='scripts/budgets.ejs.js' defer></script>
    <script defer>
        const URL = '<%= URL %>';
        const user = JSON.parse(`<%- JSON.stringify(user) %>`);
    </script>
</body>

</html>