<html lang="en">

<%- include ./head.html %>

<!-- Custom styles -->
<link rel="stylesheet" type="text/css" href="stylesheets/css/budgets.css">

<body>
    <%- include ./navbar.html %>

    <div id="app" class="container">
        <div class="row">
            <h1>Budgets</h1>
        </div>
        <div class="row">
            <h4>Overview</h4>
            <div class="input-field short-input-field">
                <select id="overviewPeriod">
                    <option value="2">Week</option>
                    <option value="3" selected>Month</option>
                    <option value="4">Quarter</option>
                    <option value="5">Year</option>
                </select>
            </div>
            <div id="overviewChart" class="responsive-google-chart"></div>
        </div>
        <div id="allBudgetItems" class="row">
            <h4>All budget items</h4>
            <table class="striped highlight">
                <thead>
                    <tr>
                        <th></th>
                        <th>Expense</th>
                        <th>Amount</th>
                        <th>Period</th>
                        <th>Number of periods</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="bi in user.budgetItems">
                        <td>
                            <form>
                                <p><label>
                                    <input :id="'chkBx' + bi.id" type="checkbox" class="filled-in" v-on:change="budgetItemsToDelete.push(bi.id)">
                                    <span :for="'chkBx' + bi.id"></span>
                                </label></p>
                            </form>
                        </td>
                        <td :data-target="bi.id" class="modal-trigger">{{ bi.name }}</td>
                        <td :data-target="bi.id" class="modal-trigger">${{ bi.amount }}</td>
                        <td :data-target="bi.id" class="modal-trigger">{{ bi.period}}</td>
                        <td :data-target="bi.id" class="modal-trigger">{{ bi.numOfPeriods }}</td>
                    </tr>
                </tbody>
            </table>
            <a id="deleteBudgetItemsBtn" class="waves-effect waves-green btn" v-on:click="deleteBudgetItems(budgetItemsToDelete)">Delete</a>

            <div v-for="bi in user.budgetItems" :id="bi.id" class="modal">
                <div class="modal-content">
                    <h4>Edit budget item</h4>
                    Designate&nbsp;$
                    <div class="input-field inline short-input-field">
                        <input id="'amount' + bi.id" class="validate" placeholder="0.00" type="number">
                    </div>
                    &nbsp;every&nbsp;
                    <div class="input-field inline short-input-field">
                        <input id="'numOfPeriods' + bi.id" class="validate short-input-field" placeholder="1"
                            type="number">
                    </div>
                    &nbsp;
                    <div class="input-field inline short-input-field">
                        <select id="'period' + bi.id">
                            <option value="1">days</option>
                            <option value="2">week(s)</option>
                            <option value="3" selected>month(s)</option>
                            <option value="4">quarter(s)</option>
                            <option value="5">year</option>
                        </select>
                    </div>
                    &nbsp;for&nbsp;
                    <div class="input-field inline">
                        <input :id="'expense' + bi.id" type="text" class="validate short-input-field"
                            placeholder="expense">
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="modal-close waves-effect waves-green btn-flat">Save</a>
                    <a class="modal-close waves-effect waves-green btn-flat">Cancel</a>
                </div>
            </div>
        </div>
        <div class="row">
            Designate&nbsp;$
            <div class="input-field inline short-input-field">
                <input id="amount" class="validate" placeholder="0.00" type="number" v-model="budgetItemToCreate.amount">
            </div>
            &nbsp;every&nbsp;
            <div class="input-field inline short-input-field">
                <input id="numOfPeriods" class="validate short-input-field" placeholder="1" type="number" v-model="budgetItemToCreate.numOfPeriods">
            </div>
            &nbsp;
            <div class="input-field inline short-input-field">
                <select id="period" v-model="budgetItemToCreate.periodId">
                    <option value="1">days</option>
                    <option value="2">week(s)</option>
                    <option value="3" selected>month(s)</option>
                    <option value="4">quarter(s)</option>
                    <option value="5">year</option>
                </select>
            </div>
            &nbsp;for&nbsp;
            <div class="input-field inline">
                <input id="expense" type="text" class="validate short-input-field" placeholder="expense" v-model="budgetItemToCreate.name">
            </div>
            <a id="addNewBudgetBtn" class="waves-effect waves-light btn" v-on:click="createOrUpdateBudgetItem(budgetItemToCreate)">Add!</a>
        </div>
    </div>

    <script src='model/clientBudget.js' defer></script>
    <script src='scripts/budgets.ejs.js' defer></script>
    <script defer>
        const URL = '<%= URL %>';
        const user = JSON.parse(`<%- JSON.stringify(user) %>`);
    </script>
</body>

</html>