<html lang="en">

<%- include ./head.html %>

<!-- Custom styles -->
<link rel="stylesheet" type="text/css" href="stylesheets/css/budgets.css">

<body>
    <%- include ./navbar.html %>

    <div class="container">
        <div class="row">
            <h1>Budgets</h1>
        </div>
        <div class="row">
            <h4>Overview</h4>
            <select id="overViewPeriod">
                <option value="1">days</option>
                <option value="2">week(s)</option>
                <option value="3" selected>month(s)</option>
                <option value="4">quarter(s)</option>
                <option value="5">year</option>
            </select>
            <div id="overviewChart" style="width:900px; height:500px"></div>
        </div>
        <div class="row">
            <h2>Existing budgets will go here.</h2>
        </div>
        <div class="row">
            <h2>Add new</h2>
            Designate&nbsp;$
            <div class="input-field inline short-input-field">
                <input id="amount" class="validate" placeholder="0.00" type="number">
            </div>
            &nbsp;every&nbsp;
            <div class="input-field inline short-input-field">
                <input id="numOfPeriods" class="validate small-text-input" placeholder="1" type="number">
            </div>
            &nbsp;
            <div class="input-field inline short-input-field">
                <select id="period">
                    <option value="1">days</option>
                    <option value="2">week(s)</option>
                    <option value="3" selected>month(s)</option>
                    <option value="4">quarter(s)</option>
                    <option value="5">year</option>
                </select>
            </div>
            &nbsp;for&nbsp;
            <div class="input-field inline">
                <input id="expense" type="text" class="validate" placeholder="expense">
            </div>
            <a id="addNewBudgetBtn" class="waves-effect waves-light btn">Add!</a>
        </div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js" defer></script>
    <script src='model/clientBudget.js' defer></script>
    <script src='scripts/budgets.ejs.js' defer></script>
    <script defer>
        const URL = '<%= URL %>';
        let user = JSON.parse(`<%- JSON.stringify(user) %>`);
    </script>
</body>

</html>