<html lang="en">
  
  <head>
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous" defer></script>

    <!-- Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous" defer></script>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer></script>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Font Awesome -->
    <script defer src="https://use.fontawesome.com/releases/v5.7.1/js/all.js" integrity="sha384-eVEQC9zshBn0rFj4+TU78eNA19HMNigMviK/PU/FFjLXqa/GKPgX58rvt5Z8PLs7" crossorigin="anonymous" defer></script>

    <!-- Google Sign In -->
    <meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="426835960192-m5m68us80b86qg3ilpanmf91gm3ufqk4.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" defer></script>

    <!-- EJS -->
    <script src="scripts/ejs.min.js" defer></script>

    <!-- Custom styles -->
    <link rel="stylesheet" type="text/css" href="stylesheets/css/signin.css">
    
    <!-- Custom scripts -->
    <script src="scripts/index.ejs.js" type="text/javascript" defer></script>
  </head>

  <body class="text-center">
    <form class="form-signin">
      <img class="mb-4" src="" alt="Logo" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
      <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
      <p class="mt-5 mb-3 text-muted">&copy; 2017-2018</p>
    </form>
  </body>

  <script>
    var URL = '<%= URL %>';
  </script>
</html>
