<html lang="en">

<head>
    <%- include('./head.html') %>
</head>

<body>
    <%- include('./navbar.html') %>
    <div class="container">
        <div class="row">
            <div class="col">
                Welcome
                <a href="<%= URL %>/login" class="btn green lighten-2">Login</a>
            </div>
        </div>
    </div>
</body>

</html>