<html lang="en">

<head>
    <%- include('./head.html') %>
</head>

<body>
    <%- include('./navbar.html') %>
    <div class="row">
        Welcome
        <a href="<%= URL %>/login" class="btn">Login</a>
    </div>
</body>

</html>