<div class="navbar-fixed">
  <nav class="lighten-1" role="navigation">
    <div class="nav-wrapper container">
      <a href="<%= URL %>/home" class="brand-logo"><img src="/assets/logo.png" class="responsive-img">&nbsp;Sage&nbsp;Savings</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="<%= URL %>/budgets">Budgets</a></li>
        <li><a href="<%= URL %>/transactions">Transactions</a></li>
        <li><a href="<%= URL %>/spending">Spending</a></li>
        <li><a href="<%= URL %>/piggy">Piggy banks</a></li>
        <li><a href="<%= URL %>/bills">Bills</a></li>
        <li><a href="<%= URL %>/accounts">Accounts</a></li>
        <li><a id="logout" href="<%= URL %>">Logout</a></li>
      </ul>

      <!-- <ul id="sidenav" class="sidenav">
        <li><a href="<%= URL %>/budgets">Budgets</a></li>
        <li><a href="<%= URL %>/transactions">Transactions</a></li>
        <li><a href="<%= URL %>/spending">Spending</a></li>
        <li><a href="<%= URL %>/piggy">Piggy banks</a></li>
        <li><a href="<%= URL %>/bills">Bills</a></li>
        <li><a href="<%= URL %>/accounts">Accounts</a></li>
        <li><a id="logout" href="<%= URL %>">Logout</a></li>
      </ul>
      <a href="#" data-target="sidenav" class="sidenav-trigger"><i class="material-icons">menu</i></a> -->
    </div>
  </nav>
</div>

<div class="fixed-action-btn hide-on-large-only">
  <a class="btn-floating btn-large indigo lighten-2">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li><a href="<%= URL %>/budgets" class="btn-floating green lighten-2"><i class="fas fa-chart-pie material-icons"></i></a></li>
    <li><a href="<%= URL %>/transactions" class="btn-floating green lighten-2"><i
          class="fas fa-cash-register material-icons"></i></a></li>
    <li><a href="<%= URL %>/spending" class="btn-floating green lighten-2"><i
          class="fas fa-chart-bar material-icons"></i></a></li>
    <li><a href="<%= URL %>/piggy" class="btn-floating green lighten-2"><i class="fas fa-piggy-bank material-icons"></i></a></li>
    <li><a href="<%= URL %>/bills" class="btn-floating green lighten-2"><i
          class="fas fa-file-invoice-dollar material-icons"></i></a></li>
    <li><a href="<%= URL %>/accounts" class="btn-floating green lighten-2"><i class="fas fa-university material-icons"></i></a>
    </li>
  </ul>
</div>