<!doctype html>
<html>

<%- include ./head.html %>

<body>
    <%- include('./navbar.html') %>

    <div id="app" class="container">
        <div class="row">
            <h1>Transactions</h1>

            <table class="striped highlight">
                <thead>
                    <tr>
                        <th>Amount</th>
                        <th></th>
                        <th>Merchant</th>
                        <th>Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="t in transactions" :class="t.amount > 0 ? 'red-text lighten-2' : 'green-text lighten-2'">
                        <td class="right">{{ getFormattedCurrency(t.amount) }}</td>
                        <td></td>
                        <td>{{ t.merchant }}</td>
                        <td>{{ getFormattedDate(t.date) }}</td>
                    </tr>
                </tbody>
            </table>
            <transaction-items-modal v-for="transaction in transactions" v-bind:key="transaction.id" v-bind:transaction="transaction" inline-template>
                <div :id="'modal-' + transaction.id" class="modal">
                    <div class="modal-content">
                        
                    </div>
                    <div class="modal-footer">

                    </div>
                </div>
            </transaction-items-modal>
        </div>
    </div>

    <script src='scripts/transactions.ejs.js' defer></script>
    <script defer>
        const URL = '<%= URL %>';
        const user = JSON.parse(`<%- JSON.stringify(user) %>`);
    </script>
</body>

</html>